
@{
    ViewBag.Title = "Display";
}

<h2>Usemos el Helper Display</h2>
<p>Importante aca que hizimos uso de DisplayTemplates con <b>Boolean y DateTime</b> para crear un template</p>

@Html.Display("Pelicula")

@Html.Editor("Pelicula")

