
@{
    Layout = null;
}

<h1>Informacion</h1>

<p>Aca pasamos una vista atraves de un renderAction</p>
<p>We past a view throut a renderAction</p>
<p>Esta vista no tiene el marco Layout. Lo tiene definido como null</p>
<p>This View dont have the Layout Framwork. It defined with a null value</p>

<br />
<p>Le hemos pasado routeValues a nuestra vista</p>
@ViewBag.nombre